<div class="w-100">
    <section id="aboutFirst">
        <div class="w-100 h-100 shadow-cover position-absolute"></div>
        <img src="../../assets/main-character.png" class="img-mc" [@enter]>
        <div class="position-absolute w-100 h-100 d-flex flex-column align-items-end justify-content-center pe-5">
            <div>
                <h1 class="text-light fw-bold">WELCOME</h1>
                <h1 class="text-light fw-bold">Ui-Chan Follower</h1>
                <span class="text-light">ようこそ</span>
                <div>
                    <button class="btn btn-danger">Learn More</button>
                </div>
            </div>
        </div>
    </section>
    <section id="aboutSecond">
        <div class="container d-flex flex-row">
            <div class="col d-flex flex-column text-center bg-white border-start border-end p-4">
                <h1>Normal</h1>
                <h2>Get Started</h2>
                <div class="py-5">
                    <h1>FREE</h1>
                </div>
                <hr />
                <div class="w-100">
                    <div class="w-100 d-flex flex-row justify-content-between">
                        <span>Guarantee 4 Star</span>
                        <span>
                            <i class="fas fa-info-circle"></i>
                        </span>

                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column text-center">
                <h1>Normal</h1>
            </div>
            <div class="col d-flex flex-column text-center">
                <h1>Normal</h1>
            </div>
            <div class="col d-flex flex-column text-center">
                <h1>Normal</h1>
            </div>
        </div>
    </section>
</div>